<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/bootstrap")*@
    
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.css" media="screen">
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ko")
    
    @RenderSection("scripts", required: false)
</body>
</html>
